/*
==============
VARIABLES
==============
*/

$color-bg: #fefff2;
$color-divider: #565958;
$color-primary: #045a7c;
$color-primary-light: #52878e;
$color-accent: #6c4f28;
$color-text: #000;
$color-text-light: #fff;
$font-global: 'ingra-condensed-2', sans-serif;